<mat-tab-group fitInkBarToContent>
    <ng-template #cardTemplate let-treino="treino" let-useMark="useMark">
        <mat-card class="example-card card-margin" appearance="outlined" *ngFor="let exercicio of treino" [ngClass]="{
    'background-clicked': exercicio.clicked,
    'fully-done': exercicio.seriesExecutadas === exercicio.series && exercicio.series > 0,
  }">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title class="card-title">{{ exercicio.nome }}</mat-card-title>

                    <button matIconButton aria-label="toggle execution" (click)="marcarExecucaoSerie(exercicio)"
                        class="icon-button">
                        <mat-icon *ngIf="!exercicio.clicked && exercicio.seriesExecutadas < exercicio.series"
                            class="material-symbols-outlined">
                            circle
                        </mat-icon>
                        <mat-icon
                            *ngIf="exercicio.clicked || exercicio.seriesExecutadas === exercicio.series">check_circle</mat-icon>
                    </button>
                </mat-card-title-group>
            </mat-card-header>

            <mat-card-content class="series-icons">
                <ng-container *ngFor="let idx of [1, 2, 3, 4]; let i = index">
                    <mat-icon *ngIf="exercicio.series >= (i + 1)"
                        [class.material-symbols-outlined]="exercicio.seriesExecutadas < (i + 1)">circle</mat-icon>
                </ng-container>
            </mat-card-content>

            <mat-card-footer class="card-footer">
                <div class="footer-column">
                    <span>Series:</span>
                    <input type="number" class="small-input" [(ngModel)]="exercicio.series"
                        (ngModelChange)="onChangeValues()" />
                </div>

                <div class="footer-column">
                    <span>Repetições:</span>
                    <input type="number" class="small-input" [(ngModel)]="exercicio.repeticoes"
                        (ngModelChange)="onChangeValues()" />
                </div>

                <div class="footer-column">
                    <span>Carga:</span>
                    <input type="number" class="small-input" [(ngModel)]="exercicio.carga"
                        (ngModelChange)="onChangeValues()" />
                </div>
            </mat-card-footer>
        </mat-card>
    </ng-template>

    <mat-tab label="Treino A">
        <ng-container *ngTemplateOutlet="cardTemplate; context: { treino: treinoA, useMark: true }"></ng-container>
    </mat-tab>

    <mat-tab label="Treino B">
        <ng-container *ngTemplateOutlet="cardTemplate; context: { treino: treinoB, useMark: false }"></ng-container>
    </mat-tab>

    <mat-tab label="Treino C">
        <ng-container *ngTemplateOutlet="cardTemplate; context: { treino: treinoC, useMark: false }"></ng-container>
    </mat-tab>
    <mat-tab label="Treino D">
        <ng-container *ngTemplateOutlet="cardTemplate; context: { treino: treinoD, useMark: false }"></ng-container>
    </mat-tab>
    <mat-tab label="Treino E">
        <ng-container *ngTemplateOutlet="cardTemplate; context: { treino: treinoE, useMark: false }"></ng-container>
    </mat-tab>
</mat-tab-group>