html,
body {
    font-family: 'Roboto', sans-serif;
}

.material-symbols-outlined {
    background-color: unset;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.background-clicked {
    background-color: lightgreen;
}

mat-card-content>mat-icon {
    font-size: 12px;
}

.card-margin {
    margin: 10px;
}

.card-title {
    margin-bottom: 10px;
}

.icon-button {
    border: none;
    background: transparent;
}

.series-icons {
    margin: 8px 0;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.small-input {
    width: 3rem;
    border-radius: 5px;
}