<mat-tab-group fitInkBarToContent>
    <mat-tab label="Treino A">
        <mat-card class="example-card" appearance="outlined" *ngFor="let exercicio of treinoA" style="margin: 10px"
            [ngClass]="{'background-clicked': exercicio.clicked}">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title style="margin-bottom: 10px">{{exercicio.nome}}</mat-card-title>
                    <button matIconButton aria-label="Example icon button with a menu icon"
                        (click)="marcarExecucaoSerie(exercicio)" style="border: unset; background-color: unset;">
                        <mat-icon *ngIf="!exercicio.clicked" class="material-symbols-outlined">
                            circle
                        </mat-icon>
                        <mat-icon *ngIf="exercicio.clicked">check_circle</mat-icon>
                    </button>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <mat-icon *ngIf="exercicio.series>=1"
                    [class.material-symbols-outlined]="exercicio.seriesExecutadas < 1">circle</mat-icon>
                <mat-icon *ngIf="exercicio.series>=2"
                    [class.material-symbols-outlined]="exercicio.seriesExecutadas < 2">circle</mat-icon>
                <mat-icon *ngIf="exercicio.series>=3"
                    [class.material-symbols-outlined]="exercicio.seriesExecutadas < 3">circle</mat-icon>
                <mat-icon *ngIf="exercicio.series>=4"
                    [class.material-symbols-outlined]="exercicio.seriesExecutadas < 4">circle</mat-icon>
            </mat-card-content>
            <mat-card-footer style="display: flex; justify-content: space-between; padding: 10px;">
                <div style="display: flex; flex-direction: column;">
                    <span>Series:</span>
                    <input type="number" style="width: 3rem; border-radius: 5px" [(ngModel)]='exercicio.series'
                        (ngModelChange)="onChangeValues()" />
                </div>
                <div style="display: flex; flex-direction: column;">
                    <span>Repetições:</span>
                    <input type="number" style="width: 3rem; border-radius: 5px" [(ngModel)]='exercicio.repeticoes'
                        (ngModelChange)="onChangeValues()" />
                </div>
                <div style="display: flex; flex-direction: column;">
                    <span>Carga:</span>
                    <input type="number" style="width: 3rem; border-radius: 5px" [(ngModel)]='exercicio.carga'
                        (ngModelChange)="onChangeValues()" />
                </div>
            </mat-card-footer>
        </mat-card>
    </mat-tab>
    <mat-tab label="Treino B">
        <mat-card class="example-card" appearance="outlined" *ngFor="let exercicio of treinoB" style="margin: 10px"
            [ngClass]="{'background-clicked': exercicio.clicked}">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title style="margin-bottom: 10px">{{exercicio.nome}}</mat-card-title>
                    <button matIconButton aria-label="Example icon button with a menu icon"
                        (click)="exercicio.clicked = !exercicio.clicked"
                        style="border: unset; background-color: unset;">
                        <mat-icon *ngIf="!exercicio.clicked" class="material-symbols-outlined">
                            circle
                        </mat-icon>
                        <mat-icon *ngIf="exercicio.clicked">check_circle</mat-icon>
                    </button>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <mat-icon *ngIf="exercicio.series>=1"
                    [class.material-symbols-outlined]="exercicio.seriesExecutadas < 1">circle</mat-icon>
                <mat-icon *ngIf="exercicio.series>=2"
                    [class.material-symbols-outlined]="exercicio.seriesExecutadas < 2">circle</mat-icon>
                <mat-icon *ngIf="exercicio.series>=3"
                    [class.material-symbols-outlined]="exercicio.seriesExecutadas < 3">circle</mat-icon>
                <mat-icon *ngIf="exercicio.series>=4"
                    [class.material-symbols-outlined]="exercicio.seriesExecutadas < 4">circle</mat-icon>
            </mat-card-content>
            <mat-card-footer style="display: flex; justify-content: space-between; padding: 10px;">
                <div style="display: flex; flex-direction: column;">
                    <span>Series:</span>
                    <input type="number" style="width: 3rem; border-radius: 5px" [(ngModel)]='exercicio.series'
                        (ngModelChange)="onChangeValues()" />
                </div>
                <div style="display: flex; flex-direction: column;">
                    <span>Repetições:</span>
                    <input type="number" style="width: 3rem; border-radius: 5px" [(ngModel)]='exercicio.repeticoes'
                        (ngModelChange)="onChangeValues()" />
                </div>
                <div style="display: flex; flex-direction: column;">
                    <span>Carga:</span>
                    <input type="number" style="width: 3rem; border-radius: 5px" [(ngModel)]='exercicio.carga'
                        (ngModelChange)="onChangeValues()" />
                </div>
            </mat-card-footer>
        </mat-card>
    </mat-tab>
    <mat-tab label="Treino C">
        <mat-card class="example-card" appearance="outlined" *ngFor="let exercicio of treinoC" style="margin: 10px"
            [ngClass]="{'background-clicked': exercicio.clicked}">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title style="margin-bottom: 10px">{{exercicio.nome}}</mat-card-title>
                    <button matIconButton aria-label="Example icon button with a menu icon"
                        (click)="exercicio.clicked = !exercicio.clicked"
                        style="border: unset; background-color: unset;">
                        <mat-icon *ngIf="!exercicio.clicked" class="material-symbols-outlined">
                            circle
                        </mat-icon>
                        <mat-icon *ngIf="exercicio.clicked">check_circle</mat-icon>
                    </button>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <mat-icon *ngIf="exercicio.series>=1"
                    [class.material-symbols-outlined]="exercicio.seriesExecutadas < 1">circle</mat-icon>
                <mat-icon *ngIf="exercicio.series>=2"
                    [class.material-symbols-outlined]="exercicio.seriesExecutadas < 2">circle</mat-icon>
                <mat-icon *ngIf="exercicio.series>=3"
                    [class.material-symbols-outlined]="exercicio.seriesExecutadas < 3">circle</mat-icon>
                <mat-icon *ngIf="exercicio.series>=4"
                    [class.material-symbols-outlined]="exercicio.seriesExecutadas < 4">circle</mat-icon>
            </mat-card-content>
            <mat-card-footer style="display: flex; justify-content: space-between; padding: 10px;">
                <div style="display: flex; flex-direction: column;">
                    <span>Series:</span>
                    <input type="number" style="width: 3rem; border-radius: 5px" [(ngModel)]='exercicio.series'
                        (ngModelChange)="onChangeValues()" />
                </div>
                <div style="display: flex; flex-direction: column;">
                    <span>Repetições:</span>
                    <input type="number" style="width: 3rem; border-radius: 5px" [(ngModel)]='exercicio.repeticoes'
                        (ngModelChange)="onChangeValues()" />
                </div>
                <div style="display: flex; flex-direction: column;">
                    <span>Carga:</span>
                    <input type="number" style="width: 3rem; border-radius: 5px" [(ngModel)]='exercicio.carga'
                        (ngModelChange)="onChangeValues()" />
                </div>
            </mat-card-footer>
        </mat-card>
    </mat-tab>
</mat-tab-group>